/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
}

/* --Sections-- */

body {
    background-color: rgb(231, 231, 231);
}

/* Header */
.header {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 1vh 4vw;
    position: fixed;
}

.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    align-self: center;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.list > li {
    margin: 0vh 1vw;
    color: white;
}

.hero {
    height: 100vh;
    background-image: url("/bdd-clone-frontend/images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-discription {
    text-align: center;
    color: white;
    font-size: 300%;
    margin: 0vh 25vw;
}

/* BDD Properties */
.bdd-properties {
    margin: 5vh 1vw;
    display: flex;
    flex-direction: column;
}

.items-property {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.items-property :hover {
   
}

.property-item {
    width: 20vw;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vh 2vw;
    margin: 2vh 1vw;
    background-color: white;
    border-radius: 5px;
}

.property-item > div {
    padding: 15%;
    display: flex;
    justify-content: center;
}
.property-item > div > img {
    width: 100%;
}

/* Explore */
.explore {
    background-image: url("/bdd-clone-frontend/images/explorebg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore h3 {
    padding-top: 2%;
    width: 50%;
}

.explore div {
    display: flex;
    width: 50%;
}

.explore img {
    width: 100%;
    
}

/* Join */
.join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3vh 0vw;
}

.join-discription {
    display: flex;
}
.join-discription > div:first-child {
    width: 30%;
}

.join-discription img {
    width: 100%;
}

.options {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.option {
    width: 25%;
    min-width: 220px;
    height: 400px;
    padding: 2%;
    background-color: white;
    margin: 1vh 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.option ul {
    width: 80%;
    list-style-image: url("/bdd-clone-frontend/images/bullet5.png");
}

.option > ul > li {
    margin: 5% 0%;
}

/* Download */
.download {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.download p {
    font-size: large;
}

.download-options {
    display: flex;
    justify-content: end;
}

.download img {
    width: 25%;
    padding: 2%;
}

/* BDD Stats */
.stats {
    background-image: url("/bdd-clone-frontend/images/bdd-stats-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats-details {
    display: flex;
    justify-content: center;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.stat img {
    width: 100%;
    padding: 20%;
}

.stat-number {
    padding-bottom: 5px;
}

/* Tredning */
.trending {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh 0vw;
    background-image: url("/bdd-clone-frontend/images/trendingBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.trending-topics {
    display: flex;
    justify-content: center;
    width: 80%;
}

.trending-topic {
    width: 33.33%;
    margin: 2vh 2vw;
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trending-topic img {
    width: 100%;
}

.date-place {
    color: rgb(172, 172, 172);
    width: 60%;
}

/* Academy */
.academy {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/bdd-clone-frontend/images/academyBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 5%;
    height: 350px;
}

.academy-info {
    display: flex;
    justify-content: center;
    width: 80%;
}

.academy-discription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

.academy-discription > div {
    padding-bottom: 5%;
}

.academy-discription > div:first-child {
    width: 20%;
}

.academy-discription img {
    width: 100%;
}

.academy-discription p {
    color: white;
    font-size: 18px;
}

.academy-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.academy-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 2vw;
    margin-bottom: 5vh;
    width: 33.33%;
}

.img-academy-icon {
    width: 50%;
    height: 50%;
    margin-bottom: 3vh;
}

.img-academy-icon img  {
    width: 100%;
}

.academy-icon p {
    font-size: larger;
    color: white;
}

/* Community word */
.community {
    background-color: white;
    background-image: url("/bdd-clone-frontend/images/bg-icon-reverse.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 5%;
}

.community > div:first-child {
    
    width: 40%;
}

.community > div:last-child {
    width: 40%;
}

.community-people {
    display: flex;
    
}

.community-person {
    width: 70%;
    border: 2px solid rgb(228, 228, 228);
    border-radius: 10px;
    margin: 1%;
    padding: 5%;
}

.community-person img {
    width: 100%;
}

.community-person > div:first-child {
    width: 40%;
    margin-bottom: 5%;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 30, 30);
    padding-left: 4vw;
    padding-right: 4vw;
    /* height: 440px; */
}

.mapsite-subscribe {
    width: 95%;
    display: flex;
}

.column {
    width: 23%;
    margin: 2vw 0vh 2vw 2vh;
}

.sitemap p {
    color: #b6b6b6;
}

.list-1 {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}

.list-1 > ul{
    list-style: none;
    color: white;
    padding-left: 15px;
    font-size: 18px;
}

.list-1 > ul > li {
    margin-bottom: 10px;
}

.list-1 p {
    font-size: 19px;
    margin-bottom: 1vh;
    color: #646464;
}

.subscribe-column {
    width: 30%;
    margin: 2vw 0vh 2vw 2vh;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: space-around;
}

.form > input {
    margin-right: 5%;
    flex-grow: 1;
}

.download-options-1 {
    display: flex;
}

.download-options-1 img {
    width: 50%;
    padding: 2%;
}

.links {
    display: flex;
}

.links p {
    margin-right: 5%;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.socials p {
    text-align: center;
    padding: 20px;
}

.social-link {
    display: flex;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    background-color: transparent;
    color: white;
  }

/* Utilities */
.btn {
    background-color: #0078BE;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 1vh 1.3vw;
}
.bold {
    font-weight: bold;
}

.capitalize {
    text-transform: uppercase;
}

.title {
    font-size: xx-large;
}

.title-white {
    font-size: xx-large;
    color: white;
}

.center-text {
    text-align: center;
}

.divider {
    border-top: 2px solid lightgray;
}

.btn-large {
    font-size: large;
    padding: 1.3vh 1.6vw;
}

.color-lightgrey {
    color: #b6b6b6;
}

.color-darkgrey {
    color: #646464;
}

.color-white {
    color: white;
}

.container {
    padding: 5%;
}


/* Media Query */
@media screen and (max-width: 1200px) {
    .mobile {
        flex-wrap: wrap;
    }

    .mobile-width > div {
        width: 100%;
    }

    .mobile-column {
        flex-direction: column;
    }

    .hide {
        display: none;
    }

}

